<!doctype html>
<html>

<head>
  <meta charset=utf-8>
  <link rel="stylesheet" type="text/css" href="../Styles/estilosIndex.css">
  <link rel="stylesheet" type="text/css" href="../Styles/estilosMenu.css">
  <link rel="stylesheet" type="text/css" href="../Styles/estilosGaleria.css">
  <link rel="stylesheet" type="text/css" href="../Styles/estilosGithub.css">
  <title>GitHub</title>
</head>

<body>
  <header>
    <div class="LogoPrincipal">
      <a href="../Views/Index.html"><img id="logo" src="../Images/UNAD_Logotipo.png" alt=""></a>
    </div>
    <nav>
      <div class="MenuNav">
        <ul id="nav">
          <li class="index"><a href="../Views/Index.html">Tutoriales</a></li>
          <li class="html5"><a href="../Views/html5.html">HTML5</a></li>
          <li class="css3"><a href="../Views/css.html">CSS3</a></li>
          <li class="github"><a href="../Views/GitHub.html">Github</a></li>
          <li class="contacto"><a href="#">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section>
    <article class="ContenidoGitHub">
      <hr>
      <table>
        <tr>
          <td>
            <div id="ContenidoGithubUno">
              <img src="../Images/iconoGithub.png" alt="" width="300px" height="300px">
              <h1>GITHUB</h1>
            </div>
          </td>
          <td>
            <div id="ContenidoGithubDos">
              <h1 id="texto">¿Que es?<br></h1>
              <h4>Es una plataforma de desarrollo de software colaborativo para alojar los proyectos realizados, <br>
                utilizando el sistema de control de versionamiento llamado Git</h4>
              <h1>¿Cuales son las ventajas?</h1>
              <li>
                <h4>Brinda herramientas muy utilices para trabajar los proyectos en equipo</h4>
              </li>
              <li>
                <h4>facilita compartir codigo y editar de manera online</h4>
              </li>
              <li>
                <h4>Manejo de versionamiento y backup seguro </h4>
              </li>
              <br>
              <br>
              <br>
              <h1>Para poder utilizar Github sigue los siguientes pasos:</h1>
              <table>
                <tr>
                  <td>
                    <div class="Registrarse">
                      <a href="https://github.com/">
                        <img src="../Images/RegistrarseGit.png" alt="" width="60px" height="60px">
                      </a>
                      <h4>Registrate</h4>
                    </div>

                  </td>
                  <td>
                    <div class="descargaGit">
                      <a href="https://github.com/features#documentation">
                        <img src="../Images/DescargarGit.png" alt="" width="60px" height="60px">
                      </a>
                      <h4>Documentacion GitHub</h4>
                    </div>

                  <td>
                    <div class="descargaEscritorio">
                      <a href="https://desktop.github.com/">
                        <img src="../Images/EscritorioGit.png" alt="" width="60px" height="60px">
                      </a>
                      <h4>descarga GitHub en escritorio</h4>
                    </div>
                  </td>
                </tr>
              </table>

            </div>
            </div>
          </td>
        </tr>

      </table>

    </article>
  </section>
  <hr>
  <aside class="">

  </aside>

  <footer class="informativoPrincipal">
    <p>Universidad nacional abierta y a distancia <br>
      Direccon: a 33-82, Dg. 17 Sur #3324, Bogotá<br>
      Telefono: 01-800-0115223
    </p>
  </footer>
</body>

</html>
