body{
background-color: #f6f7f6;
font-style: normal;
}
hr {
color: #f6f7f6;
size: 10px;
}
.LogoPrincipal{
  width: 15%;
  height: 150px;
  float: left;
  background-color: transparent;
}
#logo{
  width: 199.95px;
  height: 150px;
  margin-left:30px;
}
.MenuNav{
  width: 100%;
  height: 150px;
  background-color: transparent;
}
.ContenidoPrincipal{
  width: 100%;
  height:600px;
margin-top: 50px;
  background-color: transparent;
}
.informativoPrincipal{
  width: 100%;
  height: 200px;
position: static;
  background-color: #1a5d7c;
  border-radius: 10px 10px 10px 10px;
}
footer > p{
  color: #f6f7f6;
  text-align: center;
  width: 50%;
  height: 100px;
  margin-left: 25%;
  display: flex;
   justify-content: center;
   align-items: center;
}
