.ContenidoCSS {
  width: 100%;
  height: 900px;
  margin-top: 50px;
  background-color: transparent;
}
.ContenidoCSS>h1{
  text-align: center;
}

.ContenidoPropiedadesCSS>table {
  width: 1200px;
  height: 150px;
  border-bottom: 1px solid transparent;
list-style-position: inside;
  padding: 10px;
 margin: auto;
 text-align: left;
 border-spacing: 10px;
 
}
